{"openapi":"3.0.1","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://vscode-internal-17177-beta.beta01.cloud.kavia.ai:3001","description":"Generated server url"}],"tags":[{"name":"Hello Controller","description":"Basic endpoints for springbootbackend"}],"paths":{"/health":{"get":{"tags":["Hello Controller"],"summary":"Health check","description":"Returns application health status","operationId":"health","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/docs":{"get":{"tags":["Hello Controller"],"summary":"API Documentation","description":"Redirects to Swagger UI preserving original scheme/host/port","operationId":"docs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RedirectView"}}}}}}},"/api/info":{"get":{"tags":["Hello Controller"],"summary":"Application info","description":"Returns application information","operationId":"info","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/":{"get":{"tags":["Hello Controller"],"summary":"Welcome endpoint","description":"Returns a welcome message","operationId":"hello","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}}},"components":{"schemas":{"ApplicationContext":{"type":"object","properties":{"parent":{"$ref":"#/components/schemas/ApplicationContext"},"id":{"type":"string"},"displayName":{"type":"string"},"applicationName":{"type":"string"},"startupDate":{"type":"integer","format":"int64"},"autowireCapableBeanFactory":{"$ref":"#/components/schemas/AutowireCapableBeanFactory"},"environment":{"$ref":"#/components/schemas/Environment"},"beanDefinitionCount":{"type":"integer","format":"int32"},"beanDefinitionNames":{"type":"array","items":{"type":"string"}},"parentBeanFactory":{"$ref":"#/components/schemas/BeanFactory"},"classLoader":{"type":"object","properties":{"name":{"type":"string"},"registeredAsParallelCapable":{"type":"boolean"},"parent":{"type":"object","properties":{"name":{"type":"string"},"registeredAsParallelCapable":{"type":"boolean"},"unnamedModule":{"type":"object","properties":{"name":{"type":"string"},"classLoader":{"type":"object","properties":{"name":{"type":"string"},"registeredAsParallelCapable":{"type":"boolean"},"definedPackages":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"annotations":{"type":"array","items":{"type":"object"}},"declaredAnnotations":{"type":"array","items":{"type":"object"}},"sealed":{"type":"boolean"},"specificationTitle":{"type":"string"},"specificationVersion":{"type":"string"},"specificationVendor":{"type":"string"},"implementationTitle":{"type":"string"},"implementationVersion":{"type":"string"},"implementationVendor":{"type":"string"}}}},"defaultAssertionStatus":{"type":"boolean","writeOnly":true}}},"descriptor":{"type":"object","properties":{"open":{"type":"boolean"},"automatic":{"type":"boolean"}}},"named":{"type":"boolean"},"annotations":{"type":"array","items":{"type":"object"}},"declaredAnnotations":{"type":"array","items":{"type":"object"}},"packages":{"uniqueItems":true,"type":"array","items":{"type":"string"}},"layer":{"type":"object"}}},"definedPackages":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"annotations":{"type":"array","items":{"type":"object"}},"declaredAnnotations":{"type":"array","items":{"type":"object"}},"sealed":{"type":"boolean"},"specificationTitle":{"type":"string"},"specificationVersion":{"type":"string"},"specificationVendor":{"type":"string"},"implementationTitle":{"type":"string"},"implementationVersion":{"type":"string"},"implementationVendor":{"type":"string"}}}},"defaultAssertionStatus":{"type":"boolean","writeOnly":true}}},"unnamedModule":{"type":"object","properties":{"name":{"type":"string"},"classLoader":{"type":"object","properties":{"name":{"type":"string"},"registeredAsParallelCapable":{"type":"boolean"},"definedPackages":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"annotations":{"type":"array","items":{"type":"object"}},"declaredAnnotations":{"type":"array","items":{"type":"object"}},"sealed":{"type":"boolean"},"specificationTitle":{"type":"string"},"specificationVersion":{"type":"string"},"specificationVendor":{"type":"string"},"implementationTitle":{"type":"string"},"implementationVersion":{"type":"string"},"implementationVendor":{"type":"string"}}}},"defaultAssertionStatus":{"type":"boolean","writeOnly":true}}},"descriptor":{"type":"object","properties":{"open":{"type":"boolean"},"automatic":{"type":"boolean"}}},"named":{"type":"boolean"},"annotations":{"type":"array","items":{"type":"object"}},"declaredAnnotations":{"type":"array","items":{"type":"object"}},"packages":{"uniqueItems":true,"type":"array","items":{"type":"string"}},"layer":{"type":"object"}}},"definedPackages":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"annotations":{"type":"array","items":{"type":"object"}},"declaredAnnotations":{"type":"array","items":{"type":"object"}},"sealed":{"type":"boolean"},"specificationTitle":{"type":"string"},"specificationVersion":{"type":"string"},"specificationVendor":{"type":"string"},"implementationTitle":{"type":"string"},"implementationVersion":{"type":"string"},"implementationVendor":{"type":"string"}}}},"defaultAssertionStatus":{"type":"boolean","writeOnly":true}}}}},"AutowireCapableBeanFactory":{"type":"object"},"BeanFactory":{"type":"object"},"Environment":{"type":"object","properties":{"activeProfiles":{"type":"array","items":{"type":"string"}},"defaultProfiles":{"type":"array","items":{"type":"string"}}}},"FilterRegistration":{"type":"object","properties":{"servletNameMappings":{"type":"array","items":{"type":"string"}},"urlPatternMappings":{"type":"array","items":{"type":"string"}},"initParameters":{"type":"object","additionalProperties":{"type":"string"}},"name":{"type":"string"},"className":{"type":"string"}}},"HttpStatusCode":{"type":"object","properties":{"is4xxClientError":{"type":"boolean"},"is5xxServerError":{"type":"boolean"},"is1xxInformational":{"type":"boolean"},"is2xxSuccessful":{"type":"boolean"},"is3xxRedirection":{"type":"boolean"},"error":{"type":"boolean"}}},"JspConfigDescriptor":{"type":"object","properties":{"taglibs":{"type":"array","items":{"$ref":"#/components/schemas/TaglibDescriptor"}},"jspPropertyGroups":{"type":"array","items":{"$ref":"#/components/schemas/JspPropertyGroupDescriptor"}}}},"JspPropertyGroupDescriptor":{"type":"object","properties":{"errorOnELNotFound":{"type":"string"},"trimDirectiveWhitespaces":{"type":"string"},"errorOnUndeclaredNamespace":{"type":"string"},"scriptingInvalid":{"type":"string"},"deferredSyntaxAllowedAsLiteral":{"type":"string"},"elIgnored":{"type":"string"},"pageEncoding":{"type":"string"},"isXml":{"type":"string"},"includePreludes":{"type":"array","items":{"type":"string"}},"includeCodas":{"type":"array","items":{"type":"string"}},"defaultContentType":{"type":"string"},"urlPatterns":{"type":"array","items":{"type":"string"}},"buffer":{"type":"string"}}},"RedirectView":{"type":"object","properties":{"applicationContext":{"$ref":"#/components/schemas/ApplicationContext"},"servletContext":{"$ref":"#/components/schemas/ServletContext"},"contentType":{"type":"string"},"requestContextAttribute":{"type":"string"},"staticAttributes":{"type":"object","additionalProperties":{"type":"object"}},"exposePathVariables":{"type":"boolean"},"exposeContextBeansAsAttributes":{"type":"boolean","writeOnly":true},"exposedContextBeanNames":{"type":"array","writeOnly":true,"items":{"type":"string"}},"beanName":{"type":"string"},"url":{"type":"string"},"contextRelative":{"type":"boolean","writeOnly":true},"http10Compatible":{"type":"boolean","writeOnly":true},"exposeModelAttributes":{"type":"boolean","writeOnly":true},"encodingScheme":{"type":"string","writeOnly":true},"statusCode":{"$ref":"#/components/schemas/HttpStatusCode"},"expandUriTemplateVariables":{"type":"boolean","writeOnly":true},"propagateQueryParams":{"type":"boolean","writeOnly":true},"hosts":{"type":"array","items":{"type":"string"}},"redirectView":{"type":"boolean"},"propagateQueryProperties":{"type":"boolean"},"attributesMap":{"type":"object","additionalProperties":{"type":"object"}},"attributesCSV":{"type":"string","writeOnly":true},"attributes":{"type":"object","additionalProperties":{"type":"string"},"writeOnly":true}}},"ServletContext":{"type":"object","properties":{"initParameterNames":{"type":"object"},"contextPath":{"type":"string"},"effectiveMajorVersion":{"type":"integer","format":"int32"},"effectiveMinorVersion":{"type":"integer","format":"int32"},"serverInfo":{"type":"string"},"servletContextName":{"type":"string"},"servletRegistrations":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ServletRegistration"}},"filterRegistrations":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/FilterRegistration"}},"sessionCookieConfig":{"$ref":"#/components/schemas/SessionCookieConfig"},"sessionTrackingModes":{"uniqueItems":true,"type":"array","writeOnly":true,"items":{"type":"string","enum":["COOKIE","URL","SSL"]}},"defaultSessionTrackingModes":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["COOKIE","URL","SSL"]}},"effectiveSessionTrackingModes":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["COOKIE","URL","SSL"]}},"jspConfigDescriptor":{"$ref":"#/components/schemas/JspConfigDescriptor"},"virtualServerName":{"type":"string"},"sessionTimeout":{"type":"integer","format":"int32"},"requestCharacterEncoding":{"type":"string"},"responseCharacterEncoding":{"type":"string"},"classLoader":{"type":"object","properties":{"name":{"type":"string"},"registeredAsParallelCapable":{"type":"boolean"},"definedPackages":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"annotations":{"type":"array","items":{"type":"object"}},"declaredAnnotations":{"type":"array","items":{"type":"object"}},"sealed":{"type":"boolean"},"specificationTitle":{"type":"string"},"specificationVersion":{"type":"string"},"specificationVendor":{"type":"string"},"implementationTitle":{"type":"string"},"implementationVersion":{"type":"string"},"implementationVendor":{"type":"string"}}}},"defaultAssertionStatus":{"type":"boolean","writeOnly":true}}},"majorVersion":{"type":"integer","format":"int32"},"minorVersion":{"type":"integer","format":"int32"},"attributeNames":{"type":"object"}}},"ServletRegistration":{"type":"object","properties":{"mappings":{"type":"array","items":{"type":"string"}},"runAsRole":{"type":"string"},"initParameters":{"type":"object","additionalProperties":{"type":"string"}},"name":{"type":"string"},"className":{"type":"string"}}},"SessionCookieConfig":{"type":"object","properties":{"maxAge":{"type":"integer","format":"int32"},"httpOnly":{"type":"boolean"},"path":{"type":"string"},"secure":{"type":"boolean"},"domain":{"type":"string"},"name":{"type":"string"},"attributes":{"type":"object","additionalProperties":{"type":"string"}},"comment":{"type":"string","deprecated":true}}},"TaglibDescriptor":{"type":"object","properties":{"taglibURI":{"type":"string"},"taglibLocation":{"type":"string"}}}}}}